/* ------------------------------------------全局scss------------------------------------------ */
@import 'vars.scss';
@import 'trans-animation.scss';
@import 'rewrite.scss';
*{
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
html, body{
  width: 100%;
  height: 100%;
}
#app{
  width: 100%;
  height: 100%;
}
.wrap {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  overflow: hidden;
  background-position: center;
}
.pointer {
  cursor: pointer;
}
.center {
  text-align: center;
}
.block {
  display: block;
}

/*--------------common-item开始--------------*/
.common-item{
  position: relative;
  width: calc(20% - 12px);
  margin:0 15px 15px 0;
  float: left;
  border-radius: 6px;
  background-color: $base-white;
  box-shadow: 1px 1px 0.5px 0.5px #DDDDDD;
  cursor: pointer;
  font-size: 0;
}
.common-item:nth-child(5n){
  margin:0 0 10px 0;
}
/*--------------common-item结束--------------*/