/* ------------------------------------------基础变量------------------------------------------ */
$base-opacity: 0.8;  //基础透明度
$base-blue: #4AA1FF;  //基础蓝色
$base-black: #4B4B4B; //基础黑色 
$base-white: #FFFFFF; //基础白色
$base-gray: #939393;  //基础灰色